@import "bootstrap";
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

#logo {
	
float: left;
font-size: 3.0em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
font-family: Ubuntu;

}

#logo:hover {
	
color: #fff;
text-decoration: none;

}


#articles,#about,#signup,#login,#logout {
	
float: left;
font-size: 1.2em;
text-align:center;
color: #fff;
letter-spacing: 2px;
font-weight: bold;
font-family: Ubuntu;

}

#articles:hover,#about,#logout {
	
color: #fff;
text-decoration: none;

}



.center {
text-align: center;
}

.jumbotron {
	
background:url("guavapp.png") center center;
background-size:cover;
margin:40px 0px;

}


.form-inline .form-control{
   position:center;
   width:400px;

}


.btn-danger {
 font-family: Ubuntu;	
 font-size: 2.0em;
 background-color: transparent;
}


.article-actions {
	
border-top: 1px;
padding-top: 5px;

}


.description {
	
margin-top: 0;

}

.article-title {
	
 font-weight: bold;
 font-size: 1.5em;

}


.article-body {
	
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;


}


.listing {
 list-style: none;	
 padding-left: 0;

}


.article-meta-details {
	
border-top: 1px solid #eaeaea;
margin-top: 15px;

}

footer {
	
margin-top: 45px;
padding-top:50px;
border-top: 1px solid #eaeaea;
color: #777;
tex-align: center;
font-family: Ubuntu;
font-size: 1.5em;


}

footer a:hover {
font-family: Ubuntu;
color: #222;


}

footer small {
float: left;

}

footer url {
	
float: right;
list-style: none;

}

footer ul li {
float: left;
margin-left: 15px;

}

.guavapp {
	
font-size: 2.8em;
font-family: ubuntu ;
background: transparent;
color: #FF3361;


}


.form-group {
	
font-size: 1.3em;
font-family: ubuntu ;
background: transparent;
color: #FF3361;


}