.container
  %footer.footer
    %small
      Copyright ©
      %a{:href => "https://guavapp.herokuapp.com/"} Guavapp 2020
      by
      %a{:href => "https://guavapp.herokuapp.com/"} Mohammed Abdallah
