<div class="container">
	<footer class="footer">
		  <small>
			
			Copyright &copy; <a href="https://guavapp.herokuapp.com/">Guavapp 2020</a> 
			by <a href="https://guavapp.herokuapp.com/">Mohammed Abdallah</a>

		  </small>

	</footer>
</div>